<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <div class="popup-container">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam id aspernatur dicta vel, qui expedita, temporibus adipisci iure impedit labore a blanditiis quasi accusantium reiciendis. Nesciunt voluptatibus magni vero ipsam.
        <button id="popup-close-btn">닫기</button>
    </div>

    <script>
      console.log(document.cookie);
      document.cookie = 'brand=korea_it;'
    </script>
</body>
</html>